<%- include layout/header %>
    <br>
    <h3>Edit data student</h3>
    <br>
    <form action="/student/edit?id=<%= dStudent.id %>" method="post">
      <div class="form-group">
        <label> First name</label><br>
        <input type="text" name="first_name" value="<%= dStudent.first_name %>"><br>
      </div>
      <div class="form-group">
        <label> Last name</label><br>
        <input type="text" name="last_name" value="<%= dStudent.last_name %>"><br>
      </div>
      <div class="form-group">
        <label> Email</label><br>
        <input type="text" name="email" value="<%= dStudent.email %>"><br>
      </div>
      <button type="submit" class="btn btn-primary">Edit student</button>
      <a href="/student"><button type="button" class="btn btn-danger">Cancel</button></a>
    </form>
    <br>
<%- include layout/footer %>
