<%- include layout/header %>
    <br>
    <h2>Mata pelajaran: <%= subject.subject_name%></h2>
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Score By Number</th>
          <th>Score By Letter</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(x=>{%>
          <tr>
            <td><%= x.id %></td>
            <td><%= x.first_name+' '+x.last_name %></td>
            <%if(x.SubjectStudent.score===null){%><td><a href="/subject/giveScore?idSubject=<%=subject.id%>&idUser=<%=x.id%>">Give a score</a></td><%} else {%><td><%=x.SubjectStudent.score%></td><%}%>
            <td><%= x.scoreLetter %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <a href="\subject"><button class="btn btn-danger" type="button"> Back to Subject</button></a>
<%- include layout/footer %>
