<%- include layout/header %>
<br>
<%- include layout/menu %>
<br>
<h2>Data Table Subject</h2>
<table class="table table-striped">
  <thead class="thead-default">
    <tr>
      <th>Id</th>
      <th>Subject Name</th>
      <th>Teachers</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(x=>{%>
      <tr>
        <td><%= x.id %></td>
        <td><%= x.subject_name %></td>
        <td>
            <%-x.teachers.map((z,x=0)=>{ x++; return `${x}. `+z.first_name+`<br>`})%>
        </td>
        <td><a href="/subject/enrolledStudents?id=<%= x.id %>">Enrolled Students</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<br>
<a href="\"><button type="button" class="btn btn-danger"> Back to Index</button></a>
<%- include layout/footer %>
