<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Table Subject</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <h2>Mata pelajaran: <%= subject.subject_name%></h2>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </thead>
      <tbody class="">
        <% students.forEach(x=>{%>
          <tr>
            <td><%= x.id %></td>
            <td><%= x.first_name+' '+x.last_name %></td>
            <%if(x.SubjectStudent.score===null){%><td><a href="/subject/giveScore?idSubject=<%=subject.id%>&idUser=<%=x.id%>">Give a score</a></td><%} else {%><td><%=x.SubjectStudent.score%></td><%}%>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <br>
    <a href="\subject"><button type="button"> Back to Subject</button></a>

  </body>
</html>
