<%- include layout/header %>
<br>
<%- include layout/menu %>
<br>
<div class="row justify-content-center">
  <div class="col-4">
      <h2>Table teacher data</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped ">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% dTeachers.forEach(row=>{%>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.first_name %></td>
          <td><%= row.last_name %></td>
          <td><%= row.email %></td>
          <%if(row.id_subjects===null){%><td>unassigned</td><%} else {%><td><%=row.id_subjects%></td><%}%>
          <td><a href="teacher/edit?id=<%= row.id %>">Edit</a> | <a href="teacher/delete?id=<%= row.id %>" onclick="return confirm('Kamu yakin ingin hapus <%= row.first_name %> ?');">Delete</a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <br>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4">
    <form action="/teacher" method="post">
      <div class="form-group">
        <label> First name</label>
        <br>
        <input type="text" name="first_name">
      </div>
      <div class="form-group">
        <label> Last name</label>
        <br>
        <input type="text" name="last_name">
      </div>
      <div class="form-group">
        <label> Email</label>
        <br>
        <input type="text" name="email">
      </div>
      <div class="form-group">
        <label> Mata Pelajaran</label><br>
        <select name="id_subjects">
          <% dSubjects.forEach((z)=>{ %>
          <option value="<%=z.id%>"><%=z.subject_name%></option>
          <%})%>
        </select><br>
      </div>
      <button type="submit"  class="btn btn-primary">Simpan teachers</button>
      <a href="/"><button type="button"  class="btn btn-danger">Back to Index</button></a>
    </form>
  </div>
</div>
<%- include layout/footer %>
