<%- include layout/header %>
    <br>
    <h2>Edit Teacher</h2>
    <br>
    <form action="/teacher/edit?id=<%=dTeacher.id%>" method="post">
      <div class="form-group">
        <label> First name</label><br>
        <input type="text" name="first_name" value="<%=dTeacher.first_name%>"><br>
      </div>
      <div class="form-group">
        <label> Last name</label><br>
        <input type="text" name="last_name" value="<%=dTeacher.last_name%>"><br>
      </div>
      <div class="form-group">
        <label> Email</label><br>
        <input type="text" name="email" value="<%=dTeacher.email%>"><br>
      </div>
      <div class="form-group">
        <select name="id_subjects">
          <% dSubjects.forEach((z)=>{ %>
          <option value="<%=z.id%>" <%if(dTeacher.id_subjects ===z.id){%>SELECTED<%}%>><%=z.subject_name%></option>
          <%})%>
        </select><br>
      </div>
      <button type="submit" class="btn btn-primary">Edit teachers</button>
      <a href="/teacher"><button type="button" class="btn btn-danger">Cancel</button></a>
    </form>
<%- include layout/footer %>
